.nav_bar{
    padding-top: 2rem;
display: flex;
align-items: center;
flex-direction: column;
position: absolute;
gap: 1rem;
width: 276px;
height: 100vh;
border: 1.2px solid #EEF1F6;

}.nav_bar small{
    
width: 49px;
height: 15px;

font-family: 'Roboto', sans-serif;

font-size: 12px;
line-height: 14px;
text-transform: uppercase;

/* 10 */

color: #A5B3CD;
}.logo{
    width: fit-content;
}
.logo_img{
width: 10rem;
position: relative;
bottom: 2.5rem;
}
.logo_img img{
    width: 100%;
}.searchbox
.nav ul{
list-style: none;
}.button{
    display: none;
}
a {
    color: black;
    text-decoration: none;
   
width: 49px;
height: 24px;

font-family: 'Roboto', sans-serif;
font-size: 20px;
line-height: 23px;
font-weight: 700;
color: #333333;

}
.nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nav_space{
    margin-left: 1rem;
}.login{
    margin-top: 27rem;
}.DashContainer{
    position: relative;
    left: 18rem;
    width: 77%;
    padding-top: 2rem;
}.searchbox{
   
box-sizing: border-box;

height: 60px;

background: #FFFFFF;
font-weight: 700;
font-size: 2rem;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap:1rem;
box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.03);
border-radius: 12px;
color: #A5B3CD;
}

.notification{
    box-sizing: border-box;
width: 60px;
height: 60px;

/* 8 */

 background: #FFFFFF;
/* 12 */
display: flex;justify-content: center;
align-items: center;
border: 1px solid #EEF1F6;
border-radius: 30px;
}.rowTop{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}.row1{
    width: 90%;
}
.adminimg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */

}.adminimg img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.adminbox{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}li{
    list-style: none;
}
.dot{
    background-color: red;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    top: -18px;
    right: -7;
}
.active{


color:green

}
@media screen and (max-width:1200px) {
    .nav_bar{
        height: fit-content;
        /* width: 100%; */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* padding: 1rem; */
        padding-top: 1rem;
    }
.nav{
    display: none;
    position: absolute;
}.login{
    display: none;
    position: absolute;
}.nav2{
    position: absolute;
    top: 7rem;
    width: 100%;
    /* height: 30vh; */
    margin-top: 1rem;
    background:rgba(12, 9, 9, 0.5);
  
}.nav{
    /* height: 30vh; */
    background:rgba(53, 50, 50, 0.5);
}li{
/* padding: 1rem; */
}a{
    /* margin-top: 5px; */
    color: white;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.DashContainer{
    width: 100%;
}
.button{
    display: inline-block;
}.DashContainer, .nav_bar{
    position: static;
}
small{
    display: none;
}.Close_buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}.login2{
    position: absolute;
    top: 15rem;
}.adminimg img{
    height: 65%;
    width: 65%;
}.notification{
    height: 50px;
    width: 50px;
}.searchbox{
    height: 50px;
}
}
